body{
    background-image: url(https://www.ecolab.com/-/media/Ecolab/Ecolab-Home/Images/News/Ecolab_featured_news_image-jpg.jpg);
    -webkit-background-size: center;
    -moz-background-size: center;
    background-size: center;
    -o-background-size: center;
}

.jumbotron{
    padding-top: 100px;
    padding-bottom: 100px;
}

