body{
    background:#f0f0f0 !important;
    -webkit-background-size: center;
    -moz-background-size: center;
    background-size: center;
    -o-background-size: center;
}

.jumbotron{
    margin-top:center;
    margin-bottom: center;
    margin-left: center;
    margin-right: center;
    padding-top: 300px;
    padding-bottom: 300px;
}

p{
    padding-left: 40%;
}

h1{
    padding-left: 38%;
}

footer{
    bottom: 0%;
    width:100%;
    position: fixed;
}
